/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 04/10/2019, 9:38:19 AM
    Author     : mougi

#dadee1 - light grey
#e7e9e8 - pale grey
#c22126 - rose red
#50575f - dark grey
#c6c8c7 - beige

*/

body{
    background-color: #dadee1;
    margin: 0;
}

.title{
    text-decoration: none;
    font-style: normal;
    background-color: #282828;
    font-family: Helvetica,Arial,sans-serif;
    padding: 10px;
    display: inline-block;
    width: 100%;
}

.links{
    display: inline-block;
    color: white;
    text-decoration: none;
    font-style: normal;
    font-size: 12px;
    font-family: Helvetica,Arial,sans-serif;
    padding: 10px 20px 10px 20px;
    border-radius: 2px;
    border-right: 2px solid white;
}

h{
    font-size: 32px;
    width:40%;
    color: #50575f;
    padding: 0px 30px 10px 20px;
}

.p-alt{
    color: #e7e9e8;
    text-decoration: none;
    font-style: normal;
    font-size: 12px;
    font-family: Helvetica,Arial,sans-serif;
    padding: 10px;
}

.navbar{
    background-color: #282828; 
    margin: auto;
}

.container{
    width:100%;
}

.itemList{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    text-align: center;
}

a{
    color: #50575f;
    text-decoration: none;
    font-style: normal;
    font-size: 12px;
    font-family: Helvetica,Arial,sans-serif;
    padding: 10px;
}
.row{
    padding: 20px 0px 0px 20px;
    display:flex;
}

.itemCard{
    text-align: center;
    width: 200px;
    height: 250px;
    margin: 20px 20px;
    background-color: #c6c8c7;
    border-radius: 5px;
    border: 2px solid black;
}

.mainBox{
    width: 100%;
    line-height: 30px; 
}




.userBox{
    width: 30%;
    margin: auto;
    background-color: yellow;
    text-align: left;
    border-radius: 5px;
    border: 2px solid black;
    padding: 10px 10px 10px 10px;
}

.col{
    width:100%;
    text-align: center;
    padding: 20px 40px 10px 0px;
    background-color: lightblue;
}

a.button{
    padding: 20px 30px 20px 30px;
    margin: 20px;


    text-decoration: none;
    color: initial;
}

table, th, td{
    border:2px solid black;
    padding: 5px;
}
.itemCard > .imageContainer{
    width:200px;
    height:200px; 
    background-color: white;
    white-space: nowrap;
}

.helper{
    display: inline-block;
    height:100%;
    vertical-align: middle;    
}
.itemCard> .imageContainer > img{
    width:180px;
    vertical-align: middle;
    align:left;
    background-color: white;        
}

.col > img{
    width:180px;
    vertical-align: middle;
    align:left;
    background-color: white;
}

hr{
    width:200px;
    height:2px;
    border-width:0;
    color:black;
    background-color:gray
}

.vl {
    border-left: 6px solid black;
    height: 500px;
}

.formbox{
    margin: auto;
    background-color: lightgray;
    border: 1px solid black;
    float: left;
    margin-left: 50px;
    padding: 5px;
}

.reviewbox{
    width: 50%;
    margin: auto;
    background-color: papayawhip;
    text-align: left;
    border-radius: 5px;
    border: 2px solid black;
    padding: 10px 10px 10px 10px;
}

.reviewtitlebox{
    width: 70%;
    margin: auto;
    background-color: silver;
    text-align: left;
    border-radius: 5px;
    border: 2px solid black;
    padding: 10px 10px 10px 10px;
}

.vl {
    padding-left: 20px;
    border-left: 3px solid black;
    height: 500px;
}

.signup{
    text-align: center;
    padding: 10px;
}

.inputbox{
    padding: 5px 10px 5px 10px;
}

.hozfloat{
    float: left;
    margin: 10px;
}

h2{
    color: white;
}

.searchbar{
    color: white;
    display: inline-block;
}

.searchbutton{
    background-color: #282828; /* Green */
    border-radius: 5px;
    border: 2px solid white;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}